[submodule "tests/conformance/JSONTestSuite"]
	path = tests/conformance/JSONTestSuite
	url = https://github.com/nst/JSONTestSuite.git
[submodule "xtask/bench/data/json-benchmark"]
	path = xtask/bench/data/json-benchmark
	url = https://github.com/serde-rs/json-benchmark
