[package]
name = "cli"
version = "0.1.0"
edition = "2024"
publish = false
license = "MIT"

[dependencies]
anstream = { workspace = true }
jjpwrgem-parse = { workspace = true }
jjpwrgem-ui = { workspace = true }
