name: Publish npm Package

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v5
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Download release artifact
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1.12
        with:
          latest: true
          fileName: jjpwrgem-npm-package.tar.gz
      - name: upload package
        run: |
          tar -xzf jjpwrgem-npm-package.tar.gz
          cd package
          npm publish --access public
