name: Publish npm Package

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed
  workflow_dispatch:
jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Download release artifact
        uses: robinraju/release-downloader@daf26c5 # v1.12
        with:
          latest: true
          fileName: jjpwrgem-npm-package.tar.gz

      - name: Extract npm package
        run: |
          mkdir -p npm-package
          tar -xzf jjpwrgem-npm-package.tar.gz -C npm-package

      - name: Publish to npm
        run: |
          cd npm-package
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
